@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

$bg: #1a1a1d;
$t: #eceef5;
$c: #feb95a;
$cl: #e9efff;
$d: #bbbbbb;
$dl: #24232a;

// animations
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 600px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    background-color: $bg;
    color: $t;
}

.header {
    padding: 40px 20px;
    opacity: 0;
    animation: 0.6s fadeIn forwards;
    animation-delay: 0.5s;

    &__title {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    &__subtitle {
        font-weight: 400;
        opacity: 0.6;
        font-size: 14px;
        columns: $d;
    }
}

.next {
    margin: 0px 20px;
    margin-bottom: 40px;
    opacity: 0;
    animation: 0.6s fadeIn forwards;
    animation-delay: 1s;

    &__col {
        margin-top: 40px;
    }

    &__title {
        color: $d;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        margin-right: 10px;
    }

    &__card {
        margin-top: 20px;
        padding: 20px;
        border: 2px solid $dl;
        color: $t;
        border-radius: 10px;
        background: $dl;
    }

    &__name {
        margin-top: 10px;
    }

    &__date {
        font-size: 14px;
        font-weight: 400;
        color: $c;
    }
}

.list {
    padding-top: 20px;
}

.standings {
    padding: 40px 20px;
    animation: 0.6s fadeIn forwards;
    opacity: 0;
    animation-delay: 1.2s;

    &__title {
        font-size: 14px;
        color: $d;
        display: flex;
    }

    &__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 400px;
    }

    &__info {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        opacity: 0.3;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__type {
        justify-self: center;
        font-size: 14px;
        color: $d;
        padding: 10px 20px;
        border-radius: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        background-color: $bg;

        &--active {
            background-color: $dl;
            color: $c;
        }
    }
}

.item {
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 0fr 0.6fr 0.4fr;
    grid-template-areas:
        'position name points'
        'extended extended extended';
    //border: 2px solid $dl;
    background: $dl;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    font-size: 14px;
    animation: 0.6s fadeIn forwards;

    &__position {
        margin-right: 20px;
        color: $d;
    }

    &__points {
        justify-self: end;
        color: $d;
    }

    &__name {
        font-size: 12px;
    }

    &__extended {
        grid-area: extended;
        display: grid;
        grid-template-columns: 60px 1fr;
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        animation: 0.3s fadeIn forwards;
    }
}

.schedule {
    padding: 40px 20px;
    animation: 0.6s fadeIn forwards;
    opacity: 0;
    animation-delay: 1.4s;

    &__title {
        color: $d;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        display: flex;
        margin-right: 10px;
    }
}

.race {
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 0fr 0.6fr 0.4fr;
    grid-template-areas:
        'round name date'
        'extended extended extended';
    //border: 2px solid $dl;
    background-color: $dl;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    animation: 0.6s fadeIn forwards;
    transition: 0.3s 0.3s;

    &:active {
        transition: 0.3s;
        transform: scale(0.9);
    }

    &__round {
        grid-area: round;
        margin-right: 20px;
        color: $d;
    }

    &__name {
        grid-area: name;
        font-size: 12px;
        padding-right: 10px;
    }

    &__date {
        grid-area: date;
        justify-self: end;
        color: $d;
    }
}

.pass {
    opacity: 0.3 !important;
}

.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: $bg;
    overflow: auto;
    font-size: 12px;
    max-width: 600px;
    color: $t;

    &::-webkit-scrollbar {
        display: none;
    }
}

.modalItem {
    width: calc(100% - 40px);
    background-color: $dl;
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    grid-template-columns: 0fr 0.7fr 0.3fr;
    grid-template-areas:
        'position name time'
        'avg avg points'
        'lap lap gr';

    &__position {
        grid-area: position;
        font-size: 14px;
        color: $d;
        margin-right: 20px;
    }

    &__name {
        grid-area: name;
        font-size: 14px;
    }

    &__time {
        grid-area: time;
        font-size: 14px;
        color: $d;
        justify-self: end;
    }

    &__points {
        margin-top: 10px;
        grid-area: points;
        font-weight: 400;
        border-top: 1px solid #33323a;
        padding-top: 10px;
    }

    &__lapTime {
        margin-top: 5px;
        grid-area: lap;
        font-weight: 400;
    }

    &__avg {
        margin-top: 10px;
        grid-area: avg;
        font-weight: 400;
        border-top: 1px solid #33323a;
        padding-top: 10px;
    }

    &__grid {
        margin-top: 5px;
        grid-area: gr;
        font-weight: 400;
    }
}

@media (max-width: 340px) {
    .next {
        margin: 30px 5px;
    }

    .schedule {
        padding: 30px 5px;
    }

    .standings {
        padding: 30px 5px;

        &__type {
            font-size: 12px;
        }
    }
}

@media (min-width: 767px) {
    .standings {
        &__type {
            cursor: pointer;
        }
    }

    .race {
        cursor: pointer;
    }
}

@media (min-width: 1100px) {
    html {
        max-width: 1100px;
    }

    .next {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

        &__col {
            width: 90%;
            justify-self: center;
        }
    }

    .standings {
        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .item {
        margin: 10px 10px;
    }

    .shedule {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .race {
        margin: 10px 10px;
    }
}

// teams
.mercedes {
    border-left: 3px solid #00d2be;
}

.red_bull {
    border-left: 3px solid #0600ef;
}

.mclaren {
    border-left: 3px solid #ff9800;
}

.ferrari {
    border-left: 3px solid #dc0000;
}

.alpine {
    border-left: 3px solid #0090ff;
}

.alphatauri {
    border-left: 3px solid #2b4562;
}

.aston_martin {
    border-left: 3px solid #006f62;
}

.williams {
    border-left: 3px solid #005aff;
}

.alfa {
    border-left: 3px solid #900000;
}

.haas {
    border-left: 3px solid rgb(231, 231, 231);
}
