@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

$bg: #fff;
$t: #24232a;
$c: #1f5eff;
$cl: #e9efff;
$d: #7b849c;
$dl: #eceef5;

// animations
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    background-color: $bg;
    color: $t;
}

.header {
    padding: 40px 30px;
    opacity: 0;
    animation: 0.6s fadeIn forwards;
    animation-delay: 0.5s;

    &__title {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    &__subtitle {
        font-weight: 400;
        opacity: 0.6;
        font-size: 14px;
        columns: $d;
    }
}

.next {
    margin: 30px;
    margin-bottom: 40px;
    max-width: 400px;
    opacity: 0;
    animation: 0.6s fadeIn forwards;
    animation-delay: 1s;

    &__title {
        color: $d;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        margin-right: 10px;
    }

    &__card {
        margin-top: 20px;
        padding: 20px;
        border: 2px solid $dl;
        color: $t;
        border-radius: 15px;
    }

    &__name {
        margin-top: 10px;
    }

    &__date {
        font-size: 14px;
        font-weight: 400;
        color: $d;
    }
}

.list {
    padding-top: 20px;
}

.standings {
    padding: 40px 30px;
    animation: 0.6s fadeIn forwards;
    opacity: 0;
    animation-delay: 1.2s;

    &__title {
        font-size: 14px;
        color: $d;
        display: flex;
    }

    &__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 400px;
    }

    &__info {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        opacity: 0.3;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &__type {
        justify-self: center;
        font-size: 14px;
        color: $d;
        padding: 10px 20px;
        border-radius: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        background-color: $bg;

        &--active {
            background-color: $cl;
            color: $c;
        }
    }
}

.item {
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 0fr 0.6fr 0.4fr;
    grid-template-areas:
        'position name points'
        'extended extended extended';
    border: 2px solid $dl;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    font-size: 14px;
    cursor: pointer;
    animation: 0.6s fadeIn forwards;

    &__position {
        margin-right: 20px;
        color: $d;
    }

    &__points {
        justify-self: end;
        color: $d;
    }

    &__extended {
        grid-area: extended;
        display: grid;
        grid-template-columns: 60px 1fr;
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        animation: 0.3s fadeIn forwards;
    }
}

// teams
.mercedes {
    border-left: 3px solid #00d2be;
}

.red_bull {
    border-left: 3px solid #0600ef;
}

.mclaren {
    border-left: 3px solid #ff9800;
}

.ferrari {
    border-left: 3px solid #dc0000;
}

.alpine {
    border-left: 3px solid #0090ff;
}

.alphatauri {
    border-left: 3px solid #2b4562;
}

.aston_martin {
    border-left: 3px solid #006f62;
}

.williams {
    border-left: 3px solid #005aff;
}

.alfa {
    border-left: 3px solid #900000;
}

.haas {
    border-left: 3px solid rgb(231, 231, 231);
}

@media (max-width: 340px) {
    .next {
        margin: 30px 5px;
    }

    .standings {
        padding: 30px 5px;

        &__type {
            font-size: 12px;
        }
    }
}

@media (min-width: 767px) {
    .standings {
        &__type {
            cursor: pointer;
        }
    }
}
