@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
  letter-spacing: 0.3px;
  background-color: #1a1a1d;
  color: #eceef5;
}

.header {
  padding: 40px 30px;
  opacity: 0;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header__title {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__subtitle {
  font-weight: 400;
  opacity: 0.6;
  font-size: 14px;
  -webkit-columns: #7b849c;
          columns: #7b849c;
}

.next {
  margin: 30px;
  margin-bottom: 40px;
  max-width: 400px;
  opacity: 0;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.next__title {
  color: #7b849c;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.next__card {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #24232a;
  color: #eceef5;
  border-radius: 10px;
  background: #24232a;
}

.next__name {
  margin-top: 10px;
}

.next__date {
  font-size: 14px;
  font-weight: 400;
  color: #f6b458;
}

.list {
  padding-top: 20px;
}

.standings {
  padding: 40px 30px;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
  opacity: 0;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.standings__title {
  font-size: 14px;
  color: #7b849c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.standings__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
}

.standings__info {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.3;
}

.standings__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.standings__type {
  justify-self: center;
  font-size: 14px;
  color: #7b849c;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #1a1a1d;
}

.standings__type--active {
  background-color: #24232a;
  color: #f6b458;
}

.item {
  padding: 10px 20px;
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 0.6fr 0.4fr;
      grid-template-columns: 0fr 0.6fr 0.4fr;
      grid-template-areas: 'position name points' 'extended extended extended';
  background: #24232a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 10px 10px 0px;
  font-size: 14px;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
}

.item__position {
  margin-right: 20px;
  color: #7b849c;
}

.item__points {
  -ms-grid-column-align: end;
      justify-self: end;
  color: #7b849c;
}

.item__extended {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: extended;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 60px 1fr;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  -webkit-animation: 0.3s fadeIn forwards;
          animation: 0.3s fadeIn forwards;
}

.mercedes {
  border-left: 3px solid #00d2be;
}

.red_bull {
  border-left: 3px solid #0600ef;
}

.mclaren {
  border-left: 3px solid #ff9800;
}

.ferrari {
  border-left: 3px solid #dc0000;
}

.alpine {
  border-left: 3px solid #0090ff;
}

.alphatauri {
  border-left: 3px solid #2b4562;
}

.aston_martin {
  border-left: 3px solid #006f62;
}

.williams {
  border-left: 3px solid #005aff;
}

.alfa {
  border-left: 3px solid #900000;
}

.haas {
  border-left: 3px solid #e7e7e7;
}

.schedule {
  padding: 40px 30px;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
  opacity: 0;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.schedule__title {
  color: #7b849c;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.schedule__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.race {
  padding: 10px 20px;
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 0.6fr 0.4fr;
      grid-template-columns: 0fr 0.6fr 0.4fr;
      grid-template-areas: 'round name date' 'extended extended extended';
  background-color: #24232a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 14px;
  -webkit-animation: 0.6s fadeIn forwards;
          animation: 0.6s fadeIn forwards;
}

.race__round {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: round;
  margin-right: 20px;
}

.race__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 12px;
  padding-right: 10px;
}

.race__date {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: date;
  -ms-grid-column-align: end;
      justify-self: end;
}

.pass {
  opacity: 0.3 !important;
}

@media (max-width: 340px) {
  .next {
    margin: 30px 5px;
  }
  .schedule {
    padding: 30px 5px;
  }
  .standings {
    padding: 30px 5px;
  }
  .standings__type {
    font-size: 12px;
  }
}

@media (min-width: 767px) {
  .standings__type {
    cursor: pointer;
  }
  .item {
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */